@charset "UTF-8";

@font-face {
  font-family: "Graphik";
  src: url("./font/GraphikRegular.otf");
}

@font-face {
  font-family: "Graphik";
  src: url("./font/GraphikBold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Graphik";
  src: url("./font/GraphikRegularItalic.otf");
  font-style: italic;
}
